a {
    text-decoration: none;
    color: black;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    transition: all .3s;
  }
  
 
  
  .breweries {
    padding: 32px;

  }
  
  .breweries > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 16px;
    list-style:none;
  }
  
  .breweries > ul > li {
    border: 1px solid black;
    border-radius: 8px;
  }
  
  .breweries > ul > li > div {
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
  }
  
  .breweries > ul > li > div > img {
    width: 100%;
    object-fit: cover;
    object-position: 15% 100%;
  }
  
  .breweries > ul > li > div > div {
    position: absolute;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    width: 100%;
  }
  
  .breweries > ul > li > div > div > h3 {
    color: white;
    padding: 12px;
    font-size: 20px;
  }
  
  .breweries > ul > li > p {
    font-size: 16px;
    line-height: 24px;
    padding: 16px 10px;
    color: #666666;
  }
  
  .breweries > ul > li > a {
    padding: 8px 16px;
    margin: 8px;
  }